/* -----------------------
   Tampilan Umum
------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #8EC5FC, #E0C3FC);
  color: #333;
  min-height: 100vh;
}

header {
  background: linear-gradient(90deg, #be0587, #b70773);
  color: white;
  text-align: center;
  padding: 25px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

h1 {
  font-size: 2em;
  letter-spacing: 1px;
}

h2 {
  color: #98066d;
  border-bottom: 2px solid #ce6b98;
  display: inline-block;
  margin-bottom: 10px;
}

/* -----------------------
   Bagian Profil
------------------------*/
.profil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.9);
  margin: 30px auto;
  width: 80%;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.foto-profil {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid #827cd4;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.foto-profil:hover {
  transform: scale(1.05);
}

/* -----------------------
   Bagian Biodata
------------------------*/
.biodata, .hobi, .formulir {
  background: rgba(255, 255, 255, 0.95);
  width: 80%;
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: white;
  background-color: #e97dba;
}

/* -----------------------
   Daftar Hobi & Aktivitas
------------------------*/
ul, ol {
  padding-left: 25px;
}

ul li, ol li {
  margin-bottom: 5px;
}

/* -----------------------
   Formulir Kontak
------------------------*/
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"], input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

input[type="pasword"] {
  padding: 10px;
  border: 1px solid #d4cccc;
  border-radius: 8px;
  width: 100%;
}


.radio-group, .checkbox-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

button {
  background: linear-gradient(90deg, #e35bba, #eb72b4);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #ae87f1, #a881e7);
  transform: scale(1.05);
}

/* -----------------------
   Footer
------------------------*/
footer {
  text-align: center;
  padding: 15px;
  color: white;
  background: linear-gradient(90deg, #b91279, #cf2689);
  margin-top: 30px;
}

/* -----------------------
   Responsif
------------------------*/
@media (max-width: 768px) {
  .profil {
    flex-direction: column;
  }
  table, th, td {
    font-size: 14px;
  }
}